{% extends "base.html" %}

{% block content %}
    <main>
        <section class="hero">
            <h1>For every student, every classroom. Real results.</h1>
            <p>We're a nonprofit with the mission to provide a free, world-class education for anyone, anywhere.</p>
            <h1> Let's Get Started As</h1>
            <div class="button-container">
                <a href="{% url 'users:learner' %}" class="blue-button">Learners</a>
                <a href="{% url 'users:teacher' %}" class="blue-button">Teachers</a>
               
            </div>
        </section>
        <!-- Who We Serve Section -->
        <section class="who-we-serve">
            <h2>Who We Serve</h2>
            <div class="serve-container">
                <div class="serve-card dark-bg">
                    <h3>Learners</h3>
                </div>
                <div class="serve-card dark-bg">
                    <h3>Teachers</h3>
                </div>
                <div class="serve-card dark-bg">
                    <h3>Parents</h3>
                </div>
            </div>
        </section>

        <!-- Math and Test Prep Section -->
        <section class="math-test-prep">
            <div class="light-blue-box">
                <h2>Math: Pre-K - 8th grade</h2>
                <ul>
                    <li>Programming grade 2 (Programmer Kids)</li>
                    <li>Early math review</li>
                    <li>Grades 6 - 8 (6th grade, 7th grade, 8th grade)</li>
                </ul>
            </div>
            <div class="light-blue-box">
                <h2>Test Prep</h2>
                <ul>
                    <li>Competitive </li>
                    <li>IUPC</li>
                </ul>
            </div>
        </section>
    </main>
{% endblock content %}
